//colors---------------------

$primary: #1d13a8;
$primary-light: #4a65c0;
$primary-extra-light: #DEFEE6;

$secondary: #1d13a8;
$secondary-light: #4a65c0;

$tertiary: #CCFCCB;
$tertiary-light: #4a65c0;

// $tertiary-light: #DEFEE6;
$contrast: #4a65c0;
$white: #fff;

$new-primary: #7262AF;
$new-primary-light: #8980F5;
$new-primary-extra-light: #E5E0FF;

$new-secondary: #7262AF;
$new-secondary-light: #8980F5;
$new-secondary-extra-light: #E5E0FF;

$text-dark: #1d13a8;



//colors---------------------